{% extends "base.html" %}

{% block content %}
<section class="dashboard">
    <h2>Your Mood Dashboard</h2>
    <div class = "date">
        <label for="chartDate">Choose date ❤️ ::</label> <br>
        <input type="date" id="chartDate" />
        <button id="loadChartBtn">Open</button>
    </div>

   <!-- Weekly Chart -->
    <div id="weeklyChartWrapper">
        <canvas id="weeklyChart" width="100%" height="400"></canvas>
    </div>

    <!-- Mood Count Doughnut Chart -->
    <div class="mood-count-chart">
        <canvas id="moodCountChart" width="600" height="600"></canvas>
        <div id="totalMoodCount" class="mood-count-total" style="margin-top: 20px; font-size: 26px; font-weight: bold;"></div>
    </div>

    <!-- Mood Count Badges Below the Chart -->
    <div id="moodCountContainer"></div>


    <div class="card">
        <h3>Monthly Mood Overview</h3>
        <!-- Calendar Header: Month and Year -->
        <div id="calendarHeader">
            <button id="prevMonthBtn">←</button>
            <h4 id="calendarMonthYear"></h4>
            <button id="nextMonthBtn">→</button>
        </div>
        <!-- Calendar Grid -->
        <div id="calendarContainer" class="calendar"></div>
    </div>

    <div class="card">
        <h3>Mood Indicator</h3>
        <div class="legend">
            <div><span class="dot vh"></span> Very Happy</div>
            <div><span class="dot h"></span> Happy</div>
            <div><span class="dot n"></span> Neutral</div>
            <div><span class="dot s"></span> Sad</div>
            <div><span class="dot vs"></span> Very Sad</div>
        </div>
    </div>

    <div>
        <button class="log-btn"><a href="/"  style = "text-decoration: none; color:white;">Back to Home</a></button>
        <button id="logMoodBtn" class="log-btn">
            Log today’s mood
        </button>
    </div>
</section>
{% endblock %}
