<div class="popup hidden" id="moodPopup">
    <div class="popup-card">
        <span id="closePopup" class="close-btn">✕</span>
        <h2 class = "popup-title">Log your mood</h2>
        <hr class="popup-divider">
        <p class= "popup-subtitle">How is your mood right now ?</p>

        <form id="moodForm">
            <label class="mood-option"><input type="radio" name="mood" value="Very Happy"> 😄 Very Happy</label>
            <label class="mood-option"><input type="radio" name="mood" value="Happy"> 😊 Happy</label>
            <label class="mood-option"><input type="radio" name="mood" value="Neutral"> 😐 Neutral</label>
            <label class="mood-option"><input type="radio" name="mood" value="Sad"> 😔 Sad</label>
            <label class="mood-option"><input type="radio" name="mood" value="Very Sad"> 😢 Very Sad</label>

            <button type="submit" class="log-btn">Save</button>
        </form>
    </div>
</div>
