<div class="popup hidden" id="moodPopup">
    <div class="popup-card">
        <span id="closePopup" class="close-btn">✕</span>
        <h2>Log your mood</h2>
        <p>How was your mood today?</p>

        <form id="moodForm">
            <label><input type="radio" name="mood" value="Very Happy"> 😊 Very Happy</label>
            <label><input type="radio" name="mood" value="Happy"> 🙂 Happy</label>
            <label><input type="radio" name="mood" value="Neutral"> 😐 Neutral</label>
            <label><input type="radio" name="mood" value="Sad"> 😔 Sad</label>
            <label><input type="radio" name="mood" value="Very Sad"> 😢 Very Sad</label>

            <button type="submit" class="log-btn">Save</button>
        </form>
    </div>
</div>
